<template>
  <dir style="padding:0px">
    <router-link to="/companies">
      <b-button pill class="float-left">กลับ</b-button>
    </router-link>
    <a id="text" style="padding:5px; padding-left">{{ selectCompany }}</a>
    <b-button
      v-if="this.selectCompany !== ''"
      pill
      variant="success"
      class="float-right"
      @click="addNewStudent()"
      >เพิ่มข้อมูล</b-button
    >
    <br /><br />
    <b-table
      v-if="this.studentList.length !== 0 && this.selectCompany !== ''"
      striped
      :items="studentList"
      :fields="fields"
    >
      <template v-slot:cell(จัดการ)="data">
        <b-button pill @click="editStudent(data.item)" variant="warning"
          >แก้ไข</b-button
        >
        &nbsp;
        <b-button pill @click="delStudent(data.item)" variant="danger"
          >ลบ</b-button
        >
      </template>
    </b-table>
    <center v-else-if="this.selectCompany === ''">
      <a>โปรดเลือกบริษัท</a>
    </center>
    <center v-else>
      <a>ไม่มีข้อมูล</a>
    </center>

    <b-modal
      size="lg"
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="รหัสนิสิต"
          label-for="studentId"
          id="text_studentId"
          :invalid-feedback="invalidFeedbackStudentId"
          :valid-feedback="validFeedbackStudentId"
          :state="stateStudentId"
        >
          <b-form-input
            v-if="isCheckStudentId === false"
            id="studentId"
            v-model="form.studentId"
            required
          ></b-form-input>
          <b-form-input
            v-else
            id="studentId"
            v-model="form.studentId"
            required
            disabled
          ></b-form-input>
          <b-button
            v-if="
              this.form.studentId.length === 8 && isCheckStudentId === false
            "
            variant="primary"
            v-b-modal.modal-1
            @click="checkStudentId()"
            >ตรวจสอบรหัสนิสิต</b-button
          >
          <b-button
            disabled
            v-if="
              isCheckStudentId === false && this.form.studentId.length !== 8
            "
            >ตรวจสอบรหัสนิสิต</b-button
          >
        </b-form-group>
        <b-modal
          id="modal-1"
          ok-only
          centered
          title="ตรวจสอบรหัสนิสิต"
          size="sm"
        >
          <p class="my-4">{{ meassage }}</p>
        </b-modal>
        <b-form-group
          v-if="isCheckStudentId === true"
          label="ชื่อ-นามสกุล"
          label-for="name"
          id="text_studentName"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.name"
            disabled
            required
          ></b-form-input> </b-form-group
        ><b-form-group
          v-if="isCheckStudentId === true"
          label="บริษัท"
          label-for="company"
          id="text_studentCompany"
          :invalid-feedback="invalidFeedbackCompany"
          :valid-feedback="validFeedbackCompany"
          :state="stateCompany"
        >
          <b-form-select
            id="company"
            v-model="form.company"
            :options="companyOptions"
            required
            disabled
          ></b-form-select>
        </b-form-group>
        <b-form-group
          v-if="isCheckStudentId === true"
          label="ตำแหน่ง"
          label-for="role"
          id="text_studentRole"
          :invalid-feedback="invalidFeedbackRole"
          :valid-feedback="validFeedbackRole"
          :state="stateRole"
        >
          <b-form-input id="role" v-model="form.role" required></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-modal
      size="lg"
      id="modal-form-edit-student"
      ref="modal-form-edit-student"
      :title="title"
      @hidden="resetModal"
      @ok="handleEditOk"
    >
      <form ref="form" @submit.stop.prevent="handleEditSubmit">
        <b-form-group
          label="รหัสนิสิต"
          label-for="studentId"
          id="text_studentEditId"
          :invalid-feedback="invalidFeedbackEditStudentId"
          :valid-feedback="validFeedbackEditStudentId"
          :state="stateEditStudentId"
        >
          <b-form-input
            id="studentId"
            v-model="form.studentId"
            disabled
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ชื่อ-นามสกุล"
          label-for="name"
          id="text_studentName"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="name"
            v-model="form.name"
            disabled
            required
          ></b-form-input> </b-form-group
        ><b-form-group
          label="บริษัท"
          label-for="company"
          id="text_studentCompany"
          :invalid-feedback="invalidFeedbackCompany"
          :valid-feedback="validFeedbackCompany"
          :state="stateCompany"
        >
          <b-form-select
            id="company"
            v-model="form.company"
            :options="companyOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="ตำแหน่ง"
          label-for="role"
          id="text_studentRole"
          :invalid-feedback="invalidFeedbackRole"
          :valid-feedback="validFeedbackRole"
          :state="stateRole"
        >
          <b-form-input id="role" v-model="form.role" required></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </dir>
</template>

<script>
import companyService from './CompanyService'
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลใหม่',
      form: {
        _id: '',
        studentId: '',
        name: '',
        role: '',
        company: null
      },
      companyOptions: [],
      companyList: [],
      studentList: [],
      isCheckStudentId: false,
      meassage: '',
      selectCompany: '',
      fields: [
        { key: 'index', label: '#' },
        { key: 'studentId', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'role', label: 'ตำแหน่ง' },
        'จัดการ'
      ]
    }
  },
  methods: {
    checkStudentId () {
      // console.log(typeof parseInt(id))
      // console.log(typeof this.form.studentId)
      var id = this.form.studentId
      axios
        .get('http://localhost:3000/companies/student')
        .then(res => {
          var isSearch = false
          for (let i = 0; i < res.data.length; i++) {
            console.log(res.data[i].studentId + '===' + id)
            if (res.data[i].studentId === id) {
              isSearch = true
              if (res.data[i].company === '') {
                this.isCheckStudentId = true
                this.meassage = 'รหัสนิสิตพร้อมใช้งาน'
                this.form = { ...res.data[i] }
                delete this.form.company
                this.form.company = this.selectCompany
                // this.form.name = res.data[i].name
              } else {
                this.meassage =
                  'ไม่สามารถเพิ่มข้อมูลได้ นิสิต ' +
                  res.data[i].name +
                  ' กำลังฝึกสหกิจอยู่ที่ บริษัท' +
                  res.data[i].company
              }
            }
          }
          if (isSearch === false) {
            this.meassage = 'รหัสนิสิตไม่ถูกต้อง หรือรหัสนิสิตไม่มีในระบบ'
          }
          console.log(this.meassage)
          console.log(this.isCheckStudentId)
        })
        .catch(err => {
          console.log(err)
        })
    },
    addNewStudent () {
      this.isCheckStudentId = false
      this.$bvModal.show('modal-form-user')
    },
    editStudent (student) {
      this.title = 'แก้ไข'
      this.form = { ...student }
      this.$bvModal.show('modal-form-edit-student')
    },
    delStudent (student) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบ ' + student.name + '  หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteCompany(company)
            // studentService.deleteStudent(student)
            /* axios
              .delete(
                'http://localhost:3000/companies/student/' + student._id,
                this.form
              )
              .then(res => {
                console.log(res)
                this.updateStudentList()
              })
              .catch(err => {
                console.log(err)
              }) */
            this.form = { ...student }
            delete this.form.company
            delete this.form.role
            delete this.form.index
            this.form.company = ''
            this.form.role = ''
            axios
              .put('http://localhost:3000/companies/student', this.form)
              .then(res => {
                console.log(res)
                this.updateStudentList()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        studentId: '',
        name: '',
        role: '',
        company: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateStudentId === false ||
        this.stateName === false ||
        this.stateRole === false ||
        this.stateCompany === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateCompany(this.form)
        axios
          .put('http://localhost:3000/companies/student', this.form)
          .then(res => {
            console.log(res)
            this.updateStudentList()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // studentService.addStudent(this.form)
        delete this.form._id
        delete this.form.index
        axios
          .post('http://localhost:3000/companies/student', this.form)
          .then(res => {
            console.log(res)
            this.updateStudentList()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    handleEditOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleEditSubmit()
    },
    handleEditSubmit () {
      // check Validate
      if (
        this.stateEditStudentId === false ||
        this.stateName === false ||
        this.stateRole === false ||
        this.stateCompany === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateCompany(this.form)
        axios
          .put('http://localhost:3000/companies/student', this.form)
          .then(res => {
            console.log(res)
            this.updateStudentList()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // studentService.addStudent(this.form)
        delete this.form._id
        delete this.form.index
        axios
          .post('http://localhost:3000/companies/student', this.form)
          .then(res => {
            console.log(res)
            this.updateStudentList()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-edit-student')
      })
    },
    updateStudentList () {
      this.studentList = []
      this.selectCompany = companyService.selectCompany
      axios
        .get('http://localhost:3000/companies/student')
        .then(res => {
          for (let i = 0, j = 0; i < res.data.length; i++) {
            if (res.data[i].company === this.selectCompany) {
              j++
              res.data[i].index = j
              this.studentList.push(res.data[i])
            }
          }
          console.log(this.studentList)
          // this.studentList = res.data
        })
        .catch(err => {
          console.log(err)
        })
      /* this.studentList = []
      this.selectCompany = companyService.selectCompany
      this.companyList = studentService.getStudent()
      for (let i = 0; i < this.companyList.length; i++) {
        if (this.companyList[i].company === this.selectCompany) {
          this.studentList.push(this.companyList[i])
        }
      } */
    }
  },
  computed: {
    stateStudentId () {
      return this.form.studentId.length === 8 && this.isCheckStudentId === true
    },
    invalidFeedbackStudentId () {
      if (this.form.studentId.length === 8 && this.isCheckStudentId === true) {
        return ''
      } else if (
        this.form.studentId.length > 0 &&
        this.form.studentId.length !== 8
      ) {
        return 'รหัสนิสิตต้องมีขนาด 8 ตัว'
      } else if (this.form.studentId === '') {
        return 'กรุณาใส่รหัสนิสิต'
      } else {
        return 'โปรดกดปุ่มตรวจสอบรหัสนิสิต'
      }
    },
    validFeedbackStudentId () {
      return this.stateStudentId === true ? '' : ''
    },
    stateEditStudentId () {
      return this.form.studentId.length === 8
    },
    invalidFeedbackEditStudentId () {
      if (this.form.studentId.length === 8) {
        return ''
      } else if (this.form.studentId.length > 0) {
        return 'รหัสนิสิตต้องมีขนาด 8 ตัว'
      } else {
        return 'โปรดกดปุ่มตรวจสอบรหัสนิสิต'
      }
    },
    validFeedbackEditStudentId () {
      return this.stateEditStudentId === true ? '' : ''
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length >= 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดมากว่า 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ-นามสกุล'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? '' : ''
    },
    stateRole () {
      return this.form.role.length > 0
    },
    invalidFeedbackRole () {
      if (this.form.role.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ตำแหน่ง'
      }
    },
    validFeedbackRole () {
      return this.stateRole === true ? '' : ''
    },
    stateCompany () {
      return this.form.company != null
    },
    invalidFeedbackCompany () {
      if (this.form.company != null) {
        return ''
      } else {
        return 'กรุณาเลือกบริษัท'
      }
    },
    validFeedbackCompany () {
      return this.stateCompany === true ? '' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted. (Name List)')
    // this.companyList = companyService.getCompanies()
    axios
      .get('http://localhost:3000/companies')
      .then(res => {
        this.companyList = res.data
        for (let i = 0; i < this.companyList.length; i++) {
          this.companyOptions.push(res.data[i].name)
        }
      })
      .catch(err => {
        console.log(err)
      })
    this.form.company = companyService.companyList.selectCompany
    this.updateStudentList()
    // test comment
  }
}
</script>
<style scoped>
#text {
  position: absolute;
  top: 19px;
  color: gray;
}
</style>
