<template>
  <dir style="padding:0px">
    <a id="text" style="padding:5px; padding-left">รายชื่อนิสิต</a>
    <b-button
      pill
      variant="success"
      class="float-right"
      @click="addNewStudent()"
      >เพิ่มข้อมูล</b-button
    >
    <br /><br />
    <b-table
      v-if="this.studentList.length !== 0"
      striped
      :items="studentList"
      :fields="fields"
    >
      <template v-slot:cell(จัดการ)="data">
        &nbsp;
        <b-button pill @click="showStudent(data.item)" variant="info"
          >รายละเอียด</b-button
        >
        &nbsp;
        <b-button pill @click="editStudent(data.item)" variant="warning"
          >แก้ไข</b-button
        >
        &nbsp;
        <b-button pill @click="delStudent(data.item)" variant="danger"
          >ลบ</b-button
        >
      </template>
    </b-table>
    <center v-else>
      <a>ไม่มีข้อมูล</a>
    </center>
    <b-modal
      size="lg"
      id="modal-form-student"
      ref="modal-form-student"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-modal
          id="modal-1"
          ok-only
          centered
          title="ตรวจสอบรหัสนิสิต"
          size="sm"
        >
          <p class="my-4">{{ meassage }}</p> </b-modal
        ><b-form-group
          v-if="isCheckStudentId === false || this.title === 'แก้ไข'"
          label="รหัสนิสิต"
          label-for="studentId"
          id="text_studentId"
          :invalid-feedback="invalidFeedbackStudentId"
          :valid-feedback="validFeedbackStudentId"
          :state="stateStudentId"
        >
          <b-form-input
            id="studentId"
            v-model="form.studentId"
            required
          ></b-form-input>
          <button
            v-if="isCheckStudentId === false"
            variant="primary"
            v-b-modal.modal-1
            @click="checkStudentId()"
          >
            ตรวจสอบรหัสนิสิต
          </button>
        </b-form-group>

        <b-form-group
          v-else
          label="รหัสนิสิต"
          label-for="studentId"
          id="text_studentId"
        >
          <b-form-input
            id="studentId"
            v-model="form.studentId"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="password"
          label-for="password"
          id="text_password"
          :invalid-feedback="invalidFeedbackPassword"
          :valid-feedback="validFeedbackPassword"
          :state="statePassword"
        >
          <b-form-input
            id="password"
            v-model="form.password"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ชื่อ"
          label-for="name"
          id="text_name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <!--<b-form-group
          label="คณะ"
          label-for="faculty"
          id="text_faculty"
          :invalid-feedback="invalidFeedbackFaculty"
          :valid-feedback="validFeedbackFaculty"
          :state="stateFaculty"
        >
          <b-form-input
            id="faculty"
            v-model="form.faculty"
            required
          ></b-form-input>
        </b-form-group> -->
        <b-form-group
          label="สาขา"
          label-for="branch"
          id="text_branch"
          :invalid-feedback="invalidFeedbackBranch"
          :valid-feedback="validFeedbackBranch"
          :state="stateBranch"
        >
          <b-form-select
            id="registCooperativeStatus"
            v-model="form.branch"
            :options="branchOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="เกรดเฉลี่ย"
          label-for="gpax"
          id="text_gpax"
          :invalid-feedback="invalidFeedbackGpax"
          :valid-feedback="validFeedbackGpax"
          :state="stateGpax"
        >
          <b-form-input
            type="number"
            id="gpax"
            v-model="form.gpax"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="สถานะสหกิจ"
          label-for="cooperativeStatus"
          id="text_cooperativeStatus"
          :invalid-feedback="invalidFeedbackCooperativeStatus"
          :valid-feedback="validFeedbackCooperativeStatus"
          :state="stateCooperativeStatus"
        >
          <b-form-select
            id="cooperativeStatus"
            v-model="form.cooperativeStatus"
            :options="booleanOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="สถานะสมัครอบรม"
          label-for="registCooperativeStatus"
          id="text_registCooperativeStatus"
          :invalid-feedback="invalidFeedbackRegistCooperativeStatus"
          :valid-feedback="validFeedbackRegistCooperativeStatus"
          :state="stateRegistCooperative"
        >
          <b-form-select
            id="registCooperativeStatus"
            v-model="form.registCooperativeStatus"
            :options="booleanOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="อาจารย์ที่ปรึกษา"
          label-for="advisor"
          id="text_advisor"
          :invalid-feedback="invalidFeedbackAdvisor"
          :valid-feedback="validFeedbackAdvisor"
          :state="stateAdvisor"
        >
          <b-form-input
            id="advisor"
            v-model="form.advisor"
            required
          ></b-form-input>
        </b-form-group>
        <!-- <b-form-group
          label="บริษัทที่ฝึกษหกิจ"
          label-for="company"
          id="text_company"
          :invalid-feedback="invalidFeedbackCompany"
          :valid-feedback="validFeedbackCompany"
          :state="stateCompany"
        >
          <b-form-input
            id="company"
            v-model="form.company"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ตำแหน่ง"
          label-for="role"
          id="text_role"
          :invalid-feedback="invalidFeedbackRole"
          :valid-feedback="validFeedbackRole"
          :state="stateRole"
        >
          <b-form-input id="role" v-model="form.role" required></b-form-input>
        </b-form-group> -->
        <h5>ชั่วโมงอบรม</h5>
        <b-form-group
          label="วิชาการ"
          label-for="academicTime"
          id="text_academicTime"
          :invalid-feedback="invalidFeedbackAcademicTime"
          :valid-feedback="validFeedbackAcademicTime"
          :state="stateAcademicTime"
        >
          <b-form-input
            id="academicTime"
            type="number"
            v-model="form.educateTime.academicTime"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="เตรียมความพร้อม"
          label-for="prepareTime"
          id="text_prepareTime"
          :invalid-feedback="invalidFeedbackPrepareTime"
          :valid-feedback="validFeedbackPrepareTime"
          :state="statePrepareTime"
        >
          <b-form-input
            id="academicTime"
            type="number"
            v-model="form.educateTime.prepareTime"
            required
          ></b-form-input>
        </b-form-group>

        <!--<b-form-group
          label="ชั่วโมงอบรม"
          label-for="educateTime"
          id="text_educateTime"
          :invalid-feedback="invalidFeedbackEducateTime"
          :valid-feedback="validFeedbackEducateTime"
          :state="stateEducateTime"
        >
          <b-form-textarea
            id="educateTime"
            v-model="form.educateTime"
            rows="4"
            required
          ></b-form-textarea>
        </b-form-group> -->
        <!-- <b-form-group
          label="10 วิชา"
          label-for="subject"
          id="text_subject"
          :invalid-feedback="invalidFeedbackSubject"
          :valid-feedback="validFeedbackSubject"
          :state="subject"
        >
          <b-form-textarea
            id="subject"
            v-model="form.subject[0]"
            rows="24"
            required
          ></b-form-textarea>
        </b-form-group> -->
        <b-table :items="form_subject" :fields="fields2"
          ><template v-slot:cell(grade)="data"
            ><b-form-input
              id="input-1"
              v-model="data.item.grade"
              type="nubmer"
              required
              placeholder="เกรด"
            ></b-form-input>
          </template>
        </b-table>
      </form>
    </b-modal>
    <b-modal
      size="lg"
      id="modal-show-student"
      ref="modal-show-student"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="รหัสนิสิต" label-for="studentId">
          <b-form-input
            id="studentId"
            v-model="form.studentId"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group label="password" label-for="password">
          <b-form-input
            id="password"
            v-model="form.password"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group label="ชื่อ" label-for="name">
          <b-form-input id="name" v-model="form.name" disabled></b-form-input>
        </b-form-group>
        <b-form-group label="คณะ" label-for="faculty">
          <b-form-input
            id="faculty"
            v-model="form.faculty"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group label="สาขา" label-for="branch">
          <b-form-input
            id="branch"
            v-model="form.branch"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group label="เกรดเฉลี่ย" label-for="gpax">
          <b-form-input id="gpax" v-model="form.gpax" disabled></b-form-input>
        </b-form-group>
        <b-form-group label="สถานะสหกิจ" label-for="cooperativeStatus">
          <b-form-input
            id="cooperativeStatus"
            v-model="form.cooperativeStatus"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="สถานะสมัครอบรม"
          label-for="registCooperativeStatus"
        >
          <b-form-input
            id="registCooperativeStatus"
            v-model="form.registCooperativeStatus"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group label="อาจารย์ที่ปรึกษา" label-for="advisor">
          <b-form-input
            id="advisor"
            v-model="form.advisor"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group label="บริษัทที่ฝึกษหกิจ" label-for="company">
          <b-form-input
            id="company"
            v-model="form.company"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group label="ตำแหน่ง" label-for="role" id="text_role">
          <b-form-input id="role" v-model="form.role" disabled></b-form-input>
        </b-form-group>
        <h5>ชั่วโมงอบรม</h5>
        <b-form-group
          label="วิชาการ"
          label-for="academicTime"
          id="text_academicTime"
          :invalid-feedback="invalidFeedbackAcademicTime"
          :valid-feedback="validFeedbackAcademicTime"
          :state="stateAcademicTime"
        >
          <b-form-input
            id="academicTime"
            type="number"
            v-model="form.educateTime.academicTime"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="เตรียมความพร้อม"
          label-for="prepareTime"
          id="text_prepareTime"
        >
          <b-form-input
            id="academicTime"
            type="number"
            v-model="form.educateTime.prepareTime"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-table :items="form_subject" :fields="fields2"
          ><template v-slot:cell(grade)="data"
            ><b-form-input
              id="input-1"
              v-model="data.item.grade"
              type="nubmer"
              disabled
              placeholder="เกรด"
            ></b-form-input>
          </template>
        </b-table>
      </form>
    </b-modal>
  </dir>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลใหม่',
      meassage: '',
      form_educateTime: {
        academicTime: 0,
        prepareTime: 0
      },
      form_subject: [
        {
          subjectId: '88510059',
          name: 'Logical Thinking and Problem Solving for Innovation',
          grade: 0.0
        },
        {
          subjectId: '88510259',
          name: 'Discrete Structures',
          grade: 0.0
        },
        {
          subjectId: '88510459',
          name: 'Programming Fundamental',
          grade: 0.0
        },
        {
          subjectId: '88620159',
          name: 'Object-Oriented Programming Paradigm',
          grade: 0.0
        },
        {
          subjectId: '88620259',
          name: 'Relational Database',
          grade: 0.0
        },
        {
          subjectId: '88620359',
          name: 'Non-Relational Database',
          grade: 0.0
        },
        {
          subjectId: '88620459',
          name: 'Introduction to Data Science and Data Analytics',
          grade: 0.0
        },
        {
          subjectId: '88621159',
          name: 'Data Structures and Algorithms',
          grade: 0.0
        },
        {
          subjectId: '88634159',
          name: 'Software Development',
          grade: 0.0
        },
        {
          subjectId: '88666659',
          name: 'Algorithm Design and Application',
          grade: 0.0
        }
      ],
      form: {
        _id: '',
        type: 'student',
        studentId: '',
        password: '',
        name: '',
        faculty: 'Informatics555',
        branch: 'วิทยาการสารสนเทศ',
        gpax: 0.0,
        cooperativeStatus: false,
        registCooperativeStatus: false,
        advisor: '',
        company: '',
        role: '',
        educateTime: [],
        subject: []
      },
      booleanOptions: ['true', 'false'],
      branchOptions: [
        'วิทยาการสารสนเทศ',
        'สาขาวิชาเทคโนโลยีสารสนเทศ',
        'สาขาวิชาวิศวกรรมซอฟต์แวร์'
      ],
      studentList: [],
      isCheckStudentId: false,
      fields: [
        { key: 'index', label: '#' },
        { key: 'studentId', label: 'รหัสนิสิต' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'branch', label: 'สาขา' },
        'จัดการ'
      ],
      fields2: [
        { key: 'subjectId', label: 'รหัสวิชา' },
        { key: 'name', label: 'ชื่อวิชา' },
        { key: 'grade', label: 'เกรด' }
      ]
    }
  },
  methods: {
    addNewStudent () {
      this.$bvModal.show('modal-form-student')
      this.form.educateTime = this.form_educateTime
      this.form.subject = this.form_subject
    },
    showStudent (student) {
      this.title = 'รายละเอียด'
      this.form = { ...student }
      this.form_subject = this.form.subject
      this.form_educateTime = this.form.educateTime
      this.$bvModal.show('modal-show-student')
    },
    editStudent (student) {
      this.isCheckStudentId = true
      this.title = 'แก้ไข'
      this.form = { ...student }
      this.form_subject = this.form.subject
      this.form_educateTime = this.form.educateTime
      console.log(this.form)
      this.$bvModal.show('modal-form-student')
    },
    delStudent (student) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบ ' + student.name + '  หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/student/' + student._id)
              .then(res => {
                this.updateStudentList()
              })
          }
        })
    },
    resetModal () {
      this.isCheckStudentId = false
      this.form = {
        _id: '',
        type: 'student',
        studentId: '',
        password: '',
        name: '',
        faculty: 'Informatics',
        branch: 'วิทยาการสารสนเทศ',
        gpax: 0.0,
        cooperativeStatus: false,
        registCooperativeStatus: false,
        advisor: '',
        company: '',
        role: '',
        educateTime: [],
        subject: []
      }
      this.form_educateTime = {
        academicTime: 0,
        prepareTime: 0
      }
      this.form_subject = [
        {
          subjectId: '88510059',
          name: 'Logical Thinking and Problem Solving for Innovation',
          grade: 0.0
        },
        {
          subjectId: '88510259',
          name: 'Discrete Structures',
          grade: 0.0
        },
        {
          subjectId: '88510459',
          name: 'Programming Fundamental',
          grade: 0.0
        },
        {
          subjectId: '88620159',
          name: 'Object-Oriented Programming Paradigm',
          grade: 0.0
        },
        {
          subjectId: '88620259',
          name: 'Relational Database',
          grade: 0.0
        },
        {
          subjectId: '88620359',
          name: 'Non-Relational Database',
          grade: 0.0
        },
        {
          subjectId: '88620459',
          name: 'Introduction to Data Science and Data Analytics',
          grade: 0.0
        },
        {
          subjectId: '88621159',
          name: 'Data Structures and Algorithms',
          grade: 0.0
        },
        {
          subjectId: '88634159',
          name: 'Software Development',
          grade: 0.0
        },
        {
          subjectId: '88666659',
          name: 'Algorithm Design and Application',
          grade: 0.0
        }
      ]
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.title === 'รายละเอียด') {
        this.$nextTick(() => {
          this.$bvModal.hide('modal-show-student')
        })
      }
      if (
        this.stateStudentId === false ||
        this.statePassword === false ||
        this.stateName === false ||
        this.stateFaculty === false ||
        this.stateBranch === false ||
        this.stateGpax === false ||
        this.stateAdvisor === false ||
        this.stateAcademicTime === false ||
        this.statePrepareTime === false
      ) {
        return
      }
      if (this.form._id !== '') {
        this.form.faculty = 'Informatics'
        axios
          .put('http://localhost:3000/student', this.form)
          .then(res => {
            this.updateStudentList()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        this.form.subject = this.form_subject
        console.log(this.form_subject)
        console.log(this.form.subject)
        axios
          .post('http://localhost:3000/student', this.form)
          .then(res => {
            this.updateStudentList()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.updateStudentList()
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-student')
      })
    },
    updateStudentList () {
      axios
        .get('http://localhost:3000/student')
        .then(res => {
          this.studentList = []
          console.log(res)
          for (let i = 0; i < res.data.length; i++) {
            this.studentList.push(res.data[i])
            this.studentList[i].index = i + 1
          }
        })
        .catch(err => {
          console.log(err)
        })
    },
    checkStudentId () {
      var find = ''
      console.log('HELLO')
      axios
        .get('http://localhost:3000/student/id=' + this.form.studentId)
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            console.log(this.form.studentId + ' === ' + res.data[i].studentId)
            if (this.form.studentId === res.data[i].studentId) {
              console.log(res.data[i].studentId)
              find = 'yes'
            }
          }
          if (find === 'yes' || this.form.studentId.length !== 8) {
            this.isCheckStudentId = false
            this.meassage = 'รหัสนิสิตไม่สามารถใช้ได้'
          } else {
            this.isCheckStudentId = true
            this.meassage = 'รหัสนิสิตสามารถใช้ได้'
          }
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateStudentId () {
      return this.form.studentId.length === 8 && this.isCheckStudentId === true
    },
    invalidFeedbackStudentId () {
      if (this.form.studentId.length === 8 && this.isCheckStudentId === true) {
        return ''
      } else if (this.form.studentId === '') {
        return 'กรุณาใส่รหัสนิสิต'
      } else if (
        this.form.studentId.length > 0 &&
        this.form.studentId.length !== 8
      ) {
        return 'รหัสนิสิตต้องมีตัวเลข 8 ตัว'
      } else if (this.isCheckStudentId === false) {
        return 'โปรดกดตรวจสอบรหัสนิสิต'
      } else {
        return 'กรุณาใส่รหัสนิสิต'
      }
    },
    validFeedbackStudentId () {
      return this.stateStudentId === true ? '' : ''
    },
    stateName () {
      return this.form.name.length > 0
    },
    validFeedbackName () {
      return this.stateName === true ? '' : ''
    },
    invalidFeedbackName () {
      if (this.form.name.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    statePassword () {
      return this.form.password.length > 0
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ password'
      }
    },
    validFeedbackPassword () {
      return this.statePassword === true ? '' : ''
    },
    stateFaculty () {
      return this.form.faculty.length > 0
    },
    invalidFeedbackFaculty () {
      if (this.form.faculty.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ชื่อคณะ'
      }
    },
    validFeedbackFaculty () {
      return this.stateFaculty === true ? '' : ''
    },
    stateBranch () {
      return this.form.branch.length > 0
    },
    invalidFeedbackBranch () {
      if (this.form.branch.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ชื่อสาขา'
      }
    },
    validFeedbackBranch () {
      return this.stateBranch === true ? '' : ''
    },
    stateGpax () {
      return this.form.gpax >= 0 && this.form.gpax <= 4
    },
    invalidFeedbackGpax () {
      if (this.form.gpax >= 0 && this.form.gpax <= 4) {
        return ''
      }
      if (this.form.gpax < 0 || this.form.gpax > 4) {
        return 'กรุณาใส่ เกรดเฉลี่ย 0 - 4'
      } else {
        return 'กรุณาใส่เกรดเฉลี่ย'
      }
    },
    validFeedbackGpax () {
      return this.stateGpax === true ? '' : ''
    },
    stateAdvisor () {
      return this.form.advisor.length > 0
    },
    invalidFeedbackAdvisor () {
      if (this.form.advisor.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ชื่ออาจารย์ที่ปรึกษา'
      }
    },
    validFeedbackAdvisor () {
      return this.stateAdvisor === true ? '' : ''
    },
    stateAcademicTime () {
      return this.form.educateTime.academicTime >= 0
    },
    invalidFeedbackAcademicTime () {
      if (this.form.educateTime.academicTime >= 0) {
        return ''
      }
      if (this.form.educateTime.academicTime < 0) {
        return 'กรุณาใส่ชั่วโมงอบรมมากกว่า ที่ถูกต้อง'
      } else {
        return 'กรุณาใส่ชั่วโมงอบรม'
      }
    },
    validFeedbackAcademicTime () {
      return this.stateAcademicTime === true ? '' : ''
    },
    statePrepareTime () {
      return this.form.educateTime.prepareTime >= 0
    },
    invalidFeedbackPrepareTime () {
      if (this.form.educateTime.prepareTime >= 0) {
        return ''
      }
      if (this.form.educateTime.prepareTime < 0) {
        return 'กรุณาใส่ชั่วโมงอบรมมากกว่า ที่ถูกต้อง'
      } else {
        return 'กรุณาใส่ชั่วโมงอบรม'
      }
    },
    validFeedbackPrepareTime () {
      return this.statePrepareTime === true ? '' : ''
    }
  },
  mounted () {
    this.updateStudentList()
  }
}
</script>
