<template>
  <div class="container">
    <div style=" width:60%;padding: 35px;">
      <fieldset>
        <b-form @submit="login(form)">
          <div style="font-size:200%;">Login</div>
          <br />
          <b-form-group
            id="input-group-1"
            label="Username:"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              placeholder="Enter username"
              required
              v-model="form.username"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="Password:"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              type="password"
              placeholder="Enter password"
              required
              v-model="form.password"
            >
            </b-form-input>
          </b-form-group>
          <!-- <b-button type="submit" variant="primary">Submit</b-button> -->
          <b-button @click="login(form)" variant="primary">Submit</b-button>
        </b-form>
      </fieldset>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      errors: [],
      user: [],
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    async login (form) {
      var find = false
      await axios
        .get('http://localhost:3000/student/id=' + form.username)
        .then(res => {
          if (res.data[0].studentId === form.username) {
            if (res.data[0].password === form.password) {
              if (res.data[0].studentId === 'admin') {
                this.go2page('admin', res.data[0])
                find = true
              } else {
                this.go2page('student', res.data[0])
                find = true
              }
            }
          }
        })
      if (!find) {
        this.$bvModal.msgBoxOk('ไม่พบ ' + form.username, {
          title: 'ไม่พบรหัสของท่าน ',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
      }
      return find
    },
    go2page (item, data) {
      localStorage.setItem('user', JSON.stringify(data))
      if (item === 'student') {
        window.location.href = '/mainStudent'
      } else {
        window.location.href = '/mainAdmin'
      }
    }
  },
  computed: {
    getData: function () {
      return this.form
    }
  }
}
</script>
