<template>
  <div>
    <b-nav vertical class="w-55">
      <div>
        <!-- <template v-if="type == 'login'">
          <b-button variant="light" @click="get('noLogin')">
            <router-link></router-link>หน้าหลัก</b-button
          ><br />
          <b-button variant="light" @click="get('student')">
            <router-link></router-link>นิสิต</b-button
          ><br />
          <b-button variant="light" @click="get('admin')">
            <router-link></router-link>เจ้าหน้าที่</b-button
          >
        </template> -->
        <template v-if="this.type === 'admin'">
          <b-button-group vertical>
            <b-button variant="light"
              ><router-link to="/mainAdmin">หน้าหลัก</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/manageEducate"
                >จัดการอบรม</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/manageCoop">จัดการสหกิจ</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/companies"
                >สถานประกอบการ</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/students">จัดการนิสิต</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/manageDocs"
                >จัดการเอกสาร</router-link
              ></b-button
            >
            <b-button variant="light" @click="setPageType()"
              >ออกจากระบบ</b-button
            >
          </b-button-group>
        </template>
        <template v-else-if="this.type === 'student'">
          <b-button-group vertical>
            <b-button variant="light"
              ><router-link to="/mainStudent">หน้าหลัก</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/checkCourse"
                >ตรวจสอบรายวิชา</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/checkEducateHours"
                >ตรวจสอบชั่วโมงอบรม</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/regisEducater"
                >สมัครอบรม</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/regisCooperative"
                >สมัครสหกิจศึกษา</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/showEducateListStudent"
                >ตรวจสอบรายชื่ออบรม</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/showDocs">เอกสารทั้งหมด</router-link></b-button
            >
            <b-button variant="light" @click="setPageType()"
              >ออกจากระบบ</b-button
            >
          </b-button-group>
        </template>
        <template v-else>
          <b-button-group vertical>
            <b-button variant="light"
              ><router-link to="/main">หน้าหลัก</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/login">เข้าสู่ระบบ</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/showEducate">การอบรม</router-link></b-button
            >
            <b-button variant="light"
              ><router-link to="/showListEducate"
                >รายชื่อผู้เข้าอบรม</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/showCooperative"
                >รับสมัครนิสิตสหกิจ</router-link
              ></b-button
            >
            <b-button variant="light"
              ><router-link to="/showDocs">เอกสารทั้งหมด</router-link></b-button
            >
          </b-button-group>
        </template>
      </div>
    </b-nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      type: this.getPageType()
    }
  },
  methods: {
    get (get) {
      if (localStorage.getItem('user') === null) {
        this.type = 'noLogin'
      } else if (JSON.parse(localStorage.getItem('user')).type === 'student') {
        this.type = 'student'
      } else {
        this.type = 'admin'
      }
    },
    getPageType () {
      console.log(localStorage.getItem('user'))
      if (localStorage.getItem('user') === null) {
        return 'noLogin'
      }
      return JSON.parse(localStorage.getItem('user')).type
    },
    setPageType () {
      localStorage.removeItem('user')
      window.location.href = '/'
    }
  },
  mounted () {
    this.getPageType()
  }
}
</script>
