<template>
  <div>
    <a> ตรวจสอบชั่วโมงอบรม </a><br />
    <b-form-select
      v-model="selected"
      :options="showType"
      size="sm"
      class="mt-3"
      style="width:200px"
    ></b-form-select>
    <b-table striped hover :items="educateListShow" :fields="fields">
      <template v-slot:cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template v-slot:cell(name)="data">
        {{ data.item.name }}
      </template>
      <template v-slot:cell(type)="data">
        {{ data.item.type === '1' ? 'เตรียมความพร้อม' : 'วิชาการ' }}
      </template>
    </b-table>
    <label style="text-align:right  ">จำนวนรวม {{ hoursShow }} ชั่วโมง</label>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      userList: JSON.parse(localStorage.getItem('user')),
      educateList: [],
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'type', label: 'ประเภท' },
        'status'
      ],
      hours: 0,
      showType: [
        { value: '1', text: 'เตรียมความพร้อม' },
        { value: '2', text: 'วิชาการ' }
      ],
      selected: '1'
    }
  },
  methods: {
    getEducate () {
      let academicTime = 0
      let prepareTime = 0
      // this.userList = userService.getUsers()
      axios
        .get('http://localhost:3000/educates/')
        .then(res => {
          res.data.forEach(data => {
            let educate = {}
            educate.name = data.name
            educate.type = data.type

            let student = data.lists.find(std => {
              return std.keyId === this.userList.studentId
            })
            if (student === undefined) {
              return
            }
            if (student.status === true) {
              if (data.type === '1') {
                prepareTime += 3
              } else {
                academicTime += 6
              }
            }
            educate.status = student.status
            this.educateList.push(educate)
          })
          this.userList.educateTime = {
            academicTime,
            prepareTime
          }
          axios
            .put('http://localhost:3000/student/', this.userList)
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    hoursShow () {
      let hours = 0
      this.educateList.forEach(educate => {
        if (this.selected !== educate.type || !educate.status) return
        hours += 3 * this.selected
      })
      return hours
    },
    educateListShow () {
      return this.educateList.filter(educate => {
        return educate.type === this.selected
      })
    }
  },
  mounted () {
    this.getEducate()
    this.getCheckEducate()
  }
}
</script>
