<template>
  <div>
    <a>ตรวจสอบรายวิชา</a>
    <template
      ><b-table striped hover :items="subjectList" :fields="fields">
        <template v-slot:cell(index)="data">
          {{ data.index + 1 }}
        </template>
      </b-table>
    </template>
    <b-table striped hover :items="gpaxShow" :fields="fieldsGpax">
      <template v-slot:cell(Gpax)="data">
        {{ data.item }}
      </template>
    </b-table>
    <label class="grades">เกรดเฉลี่ย {{grades}} เกณฑ์</label>
  </div>
</template>

<script>
import axios from 'axios'
// import main from '../noLogin/login.vue'
export default {
  data () {
    console.log(JSON.parse(localStorage.getItem('user')))
    return {
      sum: 0,
      gpax: 0,
      grades: '',
      userList: JSON.parse(localStorage.getItem('user')),
      subjectList: [],
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'subjectId', label: 'รหัสวิชา' },
        { key: 'name', label: 'ชื่อวิชา' },
        { key: 'grade', label: 'เกรด' }
      ],
      gpaxShow: [],
      fieldsGpax: ['Gpax'],
      form: {
        _id: '',
        cooperativeStatus: 'false'
      }
    }
  },
  methods: {
    getSubject () {
      this.form._id = this.userList._id
      this.userList.subject.forEach(data => {
        this.subjectList.push(data)
      })
      console.log(JSON.parse(localStorage.getItem('user')))
    },
    getGrade () {
      this.userList.subject.forEach(data => {
        this.sum = this.sum + data.grade
        return this.sum
      })
      this.gpax = this.sum / 10
      this.gpaxShow.push(this.gpax)

      if (this.gpax > 2.5) {
        this.grades = 'ผ่าน'
        this.userList.gpax = this.gpax
        // console.log(this.userList)
        // this.form.cooperativeStatus = true
        axios
          .put('http://localhost:3000/student/', this.userList)
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        this.grades = 'ไม่ผ่าน'
      }
      console.log(this.gpax)
      console.log(JSON.parse(localStorage.getItem('user')).subject)
    }
  },
  computed: {},
  mounted () {
    this.getSubject()
    this.getGrade()
  }
}
</script>
