<style>
#text1 {
  position: absolute;
  left: -60px;
}
#text2 {
  color: yellow;
  size: 100px;
  position: absolute;
  left: -60px;
}
#text3 {
  color: orange;
  position: absolute;
  left: -60px;
  top: 130px;
}
#text4 {
  position: absolute;
  left: -60px;
  top: 300px;
}
#text5 {
  position: absolute;
  left: -60px;
  top: 220px;
}
</style>
<template>
  <div>
    <br />
    <h5 id="text1" style="color:black;">
      {{ student.studentId }} : {{ student.name }} : คณะ
      {{ student.faculty }} สาขา {{ student.branch }}<br />
      อ. ที่ปรึกษา: {{ student.advisor }}
    </h5>
    <br /><br />
    <h2 id="text2">
      __________________________________________________________
    </h2>
    <br /><br />
    <h5 id="text3">ยินดีต้อนรับเข้าสู่ระบบ</h5>

    <div>
      <div class="mt-3" id="text5">
        <b-card-group deck class="mb-3">
          <b-card border-variant="light" header="ประกาศ">
            <b-table :items="cooperatives" :fields="fields">
              <template v-slot:cell(index)="data">
                {{ data.index + 1 }}
              </template>
              <!-- <template v-slot:cell(status)="data">
                <div v-if="data.item.lists.status">
                  ผ่าน
                </div>
                <div v-else>
                  ไม่ผ่าน
                </div>
              </template> -->
            </b-table>
          </b-card>
        </b-card-group>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    today.setUTCHours(0)
    today.setDate(today.getDate() + 1)
    return {
      currentDate: today,
      student: {},
      cooperatives: [],
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'status', label: 'การอนุมัติ' }
      ]
    }
  },
  methods: {
    getUser () {
      this.student = JSON.parse(localStorage.getItem('user'))
      this.getData()
    },
    getData () {
      axios
        .get(
          'http://localhost:3000/cooperatives/coop/' +
            JSON.parse(localStorage.getItem('user')).studentId
        )
        .then(res => {
          // this.cooperatives = res.data
          res.data.forEach(item => {
            const array = []
            array.name = item.name
            const tx = item.lists.find(data => {
              return data.keyId === this.student.studentId
            })
            array.status = tx.status
            this.cooperatives.push(array)
          })
        })
    }
  },
  mounted () {
    this.getUser()
  }
}
</script>
