<template>
  <div>
    <b-modal
      id="modal-form-coop"
      ref="modal-form-coop"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="ชื่อบริษัท" label-for="name">
          <b-form-select
            id="name"
            v-model="form.name"
            value-field="_id"
            text-field="name"
            :options="companyList"
          ></b-form-select>
        </b-form-group>
        <b-form-datepicker
          id="date"
          v-model="form.date"
          class="mb-2"
          required
          :min="min"
          placeholder="วันที่ปิดรับ"
        ></b-form-datepicker>
        <b-form-group label="รายละเอียด" label-for="detail">
          <b-form-textarea id="detail" v-model="form.detail" required>
            {{ form }}
          </b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal id="modalViewDetail" title="รายละเอียดการประกาศ" ok-only size="lg">
      <pre class="m-0">{{ form.detail }}</pre>
    </b-modal>

    <template>
      <b-table
        striped
        hover
        :items="coopList"
        :fields="fields"
        caption-top
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        responsive="sm"
      >
        <template v-slot:table-caption>ประกาศสหกิจศึกษา</template>
        <template v-slot:cell(index)="data">
          {{ data.index + 1 }}
        </template>
        <template v-slot:cell(optional)="coop">
          <!-- nameList(coop.item) -->
          &nbsp;
          <b-button variant="info" @click="viewDetail(coop.item)" pill
            >รายละเอียด</b-button
          >
          &nbsp;
          <b-button
            v-if="user !== null && !hasMe(coop.item) && !user.cooperativeStatus && user.educateTime.prepareTime >= 30 && user.educateTime.academicTime >= 12"
            variant="warning"
            @click="regisCoop(coop.item)"
            pill
            >สมัคร</b-button
          >
          &nbsp;
        </template>
      </b-table>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import { BFormDatepicker } from 'bootstrap-vue'
import Vue from 'vue'
Vue.component('b-form-datepicker', BFormDatepicker)
export default {
  data () {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    const minDate = new Date(today)
    return {
      user: null,
      title: 'เพิ่มประกาศรับนิสิตสหกิจศึกษา',
      sortBy: 'date',
      sortDesc: false,
      min: minDate,
      selected: '1',
      selectedName: '',
      selectedCoopId: '',
      dataCompany: [],
      form: {
        _id: '',
        name: '',
        date: '',
        address: '',
        detail: '',
        lists: []
      },
      companyList: [],
      coopList: [],
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'date', label: 'วันที่ปิดรับ' },
        { key: 'address', label: 'ที่อยู่' },
        { key: 'optional', label: 'ดำเนินการ' }
      ]
    }
  },
  methods: {
    regisCoop (data) {
      this.form = { ...data }
      this.$bvModal
        .msgBoxConfirm('ยืนยันที่จะสมัครการสหกิจหรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.form.lists.push({
              keyId: this.user.studentId,
              lname: this.user.name,
              status: false
            })
            axios
              .put(
                'http://localhost:3000/cooperatives/editCooperative',
                this.form
              )
              .then(res => {
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    addNewcoop () {
      this.title = 'เพิ่มการประกาศ'
      this.$bvModal.show('modal-form-coop')
    },
    viewDetail (coop) {
      this.form = coop
      this.$bvModal.show('modalViewDetail')
    },
    editcoop (coop) {
      this.title = 'แก้ไขการประกาศ'
      this.form = { ...coop }
      console.log(this.form)
      this.$bvModal.show('modal-form-coop')
    },
    showNameList (coop) {
      this.selectedCoopId = coop._id
      this.$router.push({
        path: '/listCoop/' + this.selectedCoopId
      })
    },
    hasMe (data) {
      for (let i = 0; i < data.lists.length; i++) {
        if (data.lists[i].keyId === this.user.studentId) {
          return true
        }
      }
      return false
    },
    delcoop (coop) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ยืนยันที่จะลบ ' + coop.name + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          axios
            .delete('http://localhost:3000/cooperatives/' + coop._id)
            .then(res => {
              this.getUsers()
            })
            .catch(err => {
              console.log(err)
            })
        })
    },
    resetModal () {
      this.selectedName = ''
      this.form = {
        _id: '',
        name: '',
        date: '',
        address: '',
        detail: '',
        optional: 'null'
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    async handleSubmit () {
      // Check validate

      // Do when pass validation
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/cooperatives/', this.form)
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        await this.getCompany(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/cooperatives/', this.form)
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-coop')
      })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/cooperatives/')
        .then(res => {
          this.coopList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    async getMe () {
      // console.log(1)
      console.log(JSON.parse(localStorage.getItem('user')).studentId)
      const me = await axios
        .get(
          'http://localhost:3000/student/id=' +
            JSON.parse(localStorage.getItem('user')).studentId
        )
        .then(res => {
          return res.data[0]
        })
        .catch(err => {
          console.log(err)
        })
      return me
    },
    async getCompany (_id) {
      await axios
        .get('http://localhost:3000/companies/' + this.form.name)
        .then(res => {
          this.dataCompany = res.data
          this.form.name = this.dataCompany.name
          this.form.address = this.dataCompany.address
        })
        .catch(err => {
          console.log(err)
        })
    },
    getCompanies () {
      axios
        .get('http://localhost:3000/companies/')
        .then(res => {
          this.companyList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getcoopId () {
      return this.selectedCoopId
    }
  },
  async mounted () {
    this.getUsers()
    this.getCompanies()
    this.user = await this.getMe()
  }
}
</script>
